/* BEM CSS */

/* Container */
.todo-app {
  margin: auto;
  width: 1280px;
  text-align: center;
  border: 1px solid black;
  width: 1000px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
}

/* Logo */
.todo-app__logo {
  width: 100%;
  text-align: center;
}

.todo-app__logo-image {
  width: 40%;
}

/* Input Field */
.todo-app__input {
  height: 30px;
  width: 230px;
}

/* Checkbox */
.todo-app__checkbox {
  padding: 10px;
}

/* Buttons */
.todo-app__button,
.todo-app__button--edit,
.todo-app__button--delete,
.todo-app__button--logout {
  color: white;
  background-color: #04aa6d;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  opacity: 0.9;
}

.todo-app__button:hover {
  opacity: 1.5;
}

/* Task List */
.todo-app__task-list {
  margin: 20px auto;
  height: auto;
  list-style-type: none;
  box-sizing: border-box;
}

.todo-app__task-list-item {
  display: flex;
}

.todo-app__task-list-item-text {
  flex-grow: 1;
  margin: auto 10px;
}

/* Right Align */
.todo-app__right {
  float: right;
}
